<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woong.woong_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="5b9f84f71895898003a9683274d06a39" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".map.LocationChange" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".Join.Consumer.TermsActivity" />
        <activity android:name=".Join.Consumer.Join1Activity" />
        <activity android:name=".Join.Consumer.Join2Activity" />
        <activity android:name=".Join.Consumer.AllergyActivity" />
        <activity android:name=".Splash.SplashActivity" />
        <activity android:name=".map.MapActivity" />
        <activity android:name=".map.LocationSearchActivity" />
        <activity android:name=".Join.Marketer.TermsActivity" />
        <activity android:name=".Join.Marketer.Join1Activity" />
        <activity android:name=".Join.Marketer.Join2Activity" />
        <activity android:name=".Join.Marketer.Market.Enroll1Activity"></activity>
        <activity android:name=".Join.Marketer.Market.Enroll2Activity" />
        <activity android:name=".Join.Marketer.Market.Enroll3Activity" />
        <activity android:name=".myproduct.payment.PaymentActivity" />
        <activity android:name=".notice.message.chat.NoticeChatActivity" />
        <activity android:name=".notice.deliveryandreview.review_write.ReviewWriteActivity"></activity>
    </application>

</manifest>