<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.woong.woong_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <meta-data
        android:name="com.kakao.sdk.AppKey"
        android:value="5b9f84f71895898003a9683274d06a39" />

    <!-- 앱키 -->
    <application
        android:name=".applicationcontroller.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity android:name=".map.location_register.LocationSearchActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".join.consumer.TermsActivity" />
        <activity android:name=".join.consumer.Join1Activity" />
        <activity android:name=".join.consumer.Join2Activity" />
        <activity android:name=".join.consumer.AllergyActivity" />
        <activity android:name=".splash.SplashActivity" />
        <activity android:name=".map.MapActivity" >

        </activity>
        <activity android:name=".map.location_change.LocationSearchChangeActivity" />
        <activity android:name=".join.marketer.TermsActivity" />
        <activity android:name=".join.marketer.Join1Activity" />
        <activity android:name=".join.marketer.Join2Activity" />
        <activity android:name=".join.marketer.market.Enroll1Activity" />
        <activity android:name=".join.marketer.market.Enroll2Activity" />
        <activity android:name=".join.marketer.market.Enroll3Activity" />
        <activity android:name=".myproduct.payment.PaymentActivity" />
        <activity android:name=".notice.message.chat.NoticeChatActivity" />
        <activity android:name=".notice.deliveryandreview.review_write.ReviewWriteActivity" />
        <activity android:name=".join.marketer.market.Enroll1SearchActivity" />
        <activity android:name=".login.ConsumerLoginActivity" />
        <activity android:name=".login.MarketerLoginActivity" />
        <activity android:name=".seller_market.SellerMarketActivity" />
        <activity android:name=".marketer.MarketerMainActivity"></activity>
    </application>

</manifest>